@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap');
.container {
    overflow-y: auto;
    width : 100%;
    height: auto;
    margin:auto;
    margin-top: 10%;
    align-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
    position : absolute;
    left: 50%;
    top : 30%;
    transform: translate(-50%, -50%);
    padding-bottom: 5%;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.clicked {
    color: red !important;
}

/*sign in*/
.greetings{
    width: 50%;
    background-color: whitesmoke;
    /*background: w;*/
    color: black;
    height: 100%;
    margin-left: 25%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 7px 27px 0 rgba(0, 40, 120, .35);
}
hr{
    margin-bottom: 13px;
    margin-top: 8px;
    border-top: 1px solid #ddd !important;
}
/* sign in*/

/* button */

button:hover {
  box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #141414;
  border-radius: 15px;
  background-color: #ffffff;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}


/* button*/

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

#background{
   background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}